/* Varriables */
.nav {
    padding: 0;
    margin: 0;
}

/* * {
    margin: 0;
    padding: 0;
} */

h1 {
    opacity: 0.92;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
    font-family: "Yeseva One";
    font-size: 90px;
    font-weight: 400;
    text-align: center;
    margin-top: 167px;
}

h2 {
    font-family: "Yeseva One";
    font-size: 36px;
    font-weight: 400;
    margin: 0;

}

.h3 {
    font-family: "Yeseva One";
    font-size: 21px;

}
.container80 {
    width: 80%;
    margin: 0 auto;
}
.container75 {
    width: 75%;
    margin: 0 auto;
}
.white {
    color: #ffffff;
}
.yellow {
    color: #cc9900;
}

.flex {
    display: flex;
}
.alitce {
    align-items: center;
}
.spb {
    justify-content: space-between;
}

.spa {
    justify-content: space-around;
}
.aligend {
    align-self: flex-end;
}
.a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
    

}
.a:hover {
    opacity: 1;
    transition: 0.8;
    
}
.hover:hover {
    opacity: 1;
}
.justend {
    justify-content: flex-end;
}
.justcen {
    justify-content: center;
}
.justsa {
    justify-content: space-around;
}
.justsb {
    justify-content: space-between;
}
.h100 {
    height: 100%;
}

.btn-black {
    width: 228px;
    height: 57px;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.5);
    
    color:white;
    text-align: center;
    margin: 15px;

}
.btn-white {
    width: 228px;
    height: 57px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.2);
    
   /*  color:rgba(255, 255, 255, 1); */
    text-align: center;
    margin: 15px;
}
.tac {
    text-align: center;
}
.tal {
    text-align-last: left;

}
.tar {
    text-align: right;
}
.black-p {
    color: #4c4c4c;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    max-width: 417px;
    margin: 0 auto;
    margin-top: 32px;

}
.white-p {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.column {
    flex-direction: column;
}

/* Header start */

.header {
    background: url("/images/promo-background.jpeg") center center/cover no-repeat;
    
    position: relative;
}
.logo {
    position: absolute;
    left:50px;
    top: 10px;

}

.navbar {
    font-family: "Gentium Book Basic";
    font-size: 21px;
    font-weight: 700;
    /* width: 100%; */
    width: 700px;
    justify-self: end;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    

}
.navbar ul li {

}
.social {
    position: absolute;
    right: 50px;
}

.social a i {
    color: #cc9900;
    padding: 0 5px;
    opacity: 0.8;

    

}
.social a i {
    color: #cc9900;
    padding: 0 5px;
    opacity: 0.8;
    

}

.white-divider img {
    width: 232px;
    height: 43px;
    display: block;
    margin: 0 auto;
}

.gold-divider-small img {
    
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    
}


.buttons .btn-black {
    color: white;
    opacity: 1;
}
.buttons {
    padding-bottom: 140px;
    margin-top: 30px;
}
.border {
    border: 1px solid;
}

/* Header End */

/* Section Concept */

.concept {
    background: url("/images/about-background.jpeg") center center/cover no-repeat;
    padding-top: 100px;
    
}
.concept .container80 {
    display: flex;
}
.concept-left {
    width: 40%;
}
.signature {

    width: 60%;
    text-align: right;
    margin: auto;
    margin-top: 52px;
}
.concept-right {
    width: 60%;
}


/* Section concept END */


/* Section Ingredients */

.ingredients {
    background: url("/images/ingredients-background.jpeg") center center/cover no-repeat;
    position: relative;
    padding: 100px;
}
.ingredients .box {
    width: 570px;
    height: 557px;
    background: rgba(0, 0, 0, 0.67);
   

}

.ingredients h2 {
  padding-top: 80px;  
}

.ingredients .white-divider-small {
    margin-top: 16px;
}
.ingredients .white-p {
    margin: 30px 0 0 0;
} 
.ingredients .icons {
    margin-top: 100px;
}

/* Ingredients section end */


/* Menu Section Start */

.menu {
    background: url("/images/about-background.jpeg") center center/cover no-repeat;
    padding-top: 30px;
    padding-bottom: 97px;
}
.menu-left {
    width: 30%;
}
.menu-right {
    width: 30%;
}
.menu-category {
    margin-top: 70px
    ;
}

.price-normal {
    border-bottom: 1px solid;
    padding-bottom: 10px;

}
.menu-block p {
    margin: 0;
    margin-top: 12px;
}
.menu-block {
    margin-top: 37px;
    position: relative;
    padding: 10px;
}
.special {
    width: 69px;
    height: 22px;
    background-color: rgba(200, 159, 45, 0.6);
    color:white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    right: -1px;
    top: -23px;
   


}

/* Section Menu end */


/* Section Reviews Start */

.reviews {
    background: url("/images/reviews-background2.png") center center/cover no-repeat;
    width: 100%;
    
    padding: 100px 0;
    
    
    
    

}

.review-box {
    width: 770px;
    height: 557px;
    
    background: rgba(0, 0, 0, 0.67);
    
    /* margin: auto; */
    
    position: relative;
    margin: auto;
    
    

}
.reviews h2 {
    padding-top: 82px;
}
.reviews .white-divider-small img {
    margin-top: 25px;
}
.big-p {
    color: #dde0df;
    font-family: "Gentium Book Basic";
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 20px;
}
.scrum {
    display: block;
    position: absolute;
    top: 190px;
    left: 40px;
}    

/* Section Reviews End */


